*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}

.row{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
}
.c1{
    border-radius: 10%;
    border: 2px double rgb(69, 9, 9);
    margin: 5px;
    
}

.column:hover{
transform: scale(1.05);
background-color: #9bbec2;
}


